<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Favories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-item lines="none">
          <ion-img [src]="">
          </ion-img>
        </ion-item>
        <ion-item lines="none">
        </ion-item>
        <ion-item lines="none">
        </ion-item>
        <ion-item lines="none">
        </ion-item>
        <ion-item lines="none">
        </ion-item>
        <ion-item lines="none">
        </ion-item>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
